/* Scrollbar */

::-webkit-scrollbar-track
{
  border: none;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  background-color: transparent;
}

/* Show scrollbar only when element is hovered over  */
div.notes-index:hover::-webkit-scrollbar-thumb,
div.preview-note-content:hover::-webkit-scrollbar-thumb,
div.main-content:hover::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
}

/* General */

html, body, div#root, div#app, div.trashcan, div.row, div.trashcan-container, div.notebook-container {
  height: 100%;
}

.quill-custom-button {
  vertical-align: top;
  color: #444444;
}

section.notebooks, section.notes {
  margin-top: 20px;
}

/* TODO: This causes our lowest resolution hamburger menu to be hidden when
we're at the bottom of the page. Find a fix for this */
.trashcan.main-content, .preview-note-content, .notes-index {
  display:block;
  overflow:auto;
}

.col-12.navbar-sm-container {
  height: auto;
}
.notes-index {
  height: 100%;
}

.preview-note-content {
  /* max-height: 100vh; */
  display: none;
}

input.sidebar-app-form {
  background-color: inherit;
  border: none;
}

input.new-notebook-hamburger {
  height: 30px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

div.sidebar-app-form {
  width: 90%;
  margin: auto;
  padding-top: 9px;
  padding-bottom: 9px;
}

input.sidebar-app-form:focus {
  border-color: #282E3F !important;
  box-shadow: 0 0 5px rgba(40, 46, 63, 1) !important;
  background-color: #1E2230;
  color: #fff;
}

ul.list-group.notes > a:hover {
  text-decoration: none;
}

/* Sidebar */

a.home-sidebar, a.home-sidebar:hover {
  text-decoration: none;
  color: inherit;
}

.trashcan-container {
  min-width: 800px;
}

div.sidebar {
  /* padding: 0px;
  padding-top: 50px;
  min-width: 260px; */

  padding-right: 0px;
  padding-left: 0px;
}

.sidebar, 
ul.notes, 
li.sidebar-note, 
li.list-group-item-tag,
p.notes-sidebar-md {
  background-color: #282E3F;
  color: #9EA6C2;
}

p.notes-sidebar-md {
  cursor: pointer !important;
  border: none !important;
}

div.notebook-name-sidebar {
  text-transform: capitalize;
  text-align: left;
  font-size: 1em;
  padding: 10px;
  padding-right: 20px;
  cursor: pointer;
}

li.sidebar-note {
  cursor: pointer;
}

li.list-group-item {
  border: none;
}

.expand-notebook {
  float: right;
}

div.notebook-name-sidebar {
  height: 44px;
}

span.expand-notebook {
  line-height: 22px;
  vertical-align: middle;
}

div.notebook-name-sidebar:hover, li.list-group-item.sidebar-note.notebook-name-sidebar-active,
p.list-group-item-tag:hover {
  background-color: #1E2230;
  color: #fff;
}

div.notebook-name-sidebar[aria-expanded=true] {
  color: #fff;
}

div[aria-expanded=true] .oi-chevron-left {
  display: none;
}

div[aria-expanded=false] .oi-chevron-left {
  display: inline;
}

div[aria-expanded=true] .oi-chevron-bottom {
  display: inline;
}

div[aria-expanded=false] .oi-chevron-bottom {
  display: none;
}

/* Notebook page */

.home-icon {
  float: right;
}

span.add-notebook, span.document-icon {
  top: 4px;
}

.add-tags {
  margin-top: 16px;
  margin-bottom: 0px !important;
}

.tags {
  padding-top: 10px;
  padding-bottom: 20px;
}

.tags > span.badge {
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #ced4da;
  background-color: #fff;
  /* color: #868e96; */
  cursor: pointer;
  /* color: #9EA6C2; */
  /* background-color: #282E3F; */
  margin-right: 5px;
}


span.remove-tag {
  padding-left: 10px;
}

span.badge.badge-primary.tag-name {
  color: #444444;
}

span.oi.oi-delete.remove-tag:hover {
  color: #dc3545;
}

.tags > span.badge:hover {
  color: #007bff;
  background-color: #fff;
}

/* Home page */

span.search-match {
  background-color: yellow;
}

span.trashcan {
  float: right;
}

li.sidebar-link {
  padding-left: 10px; 
  text-align: left;
}

.sidebar-note {
  text-align: left;
}

li.note-item:hover {
  color: inherit;
  background-color: inherit;
}

div.notes-index {
  padding-top: 10px;
}

div.preview-note-content {
  padding-top: 22px;
}

.home-search.dropdown-toggle::after {
  border: none;
}

.search-dropdown {
  left: 3px;
}

div.card:hover, .note-selected, .highlight-note-card {
  color:#6574a0;
  cursor: pointer;
}

a.attachment:hover {
  cursor: pointer;
}

.notebook-name-sidebar {
  background-color: #282E3F;
}

div.ql-container.preview-note-container {
  height: 90vh;
}

.input-group.input-group-sm.mb-3.add-tags {
  margin-top: 0px;
}

div.load-more {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

div.load-more > button {
  background-color: #282E3F;
  border-color: #282E3F;
}

div.load-more > button:hover {
  background-color: #1E2230;
  border-color: #1E2230;
}


/* NEW STYLE */

html, body, div.sidebar-container, span.sidebar-container-main {
  height: 100%;
}

div.sidebar-container {
  padding-left: 0px;
}

/* Remove scrollbar from sidebar */
div.sidebar::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

input.search-notes {
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}

button.search-filters, button.search-filters:focus {
  border: 1px solid #ccc;
  transition: ease-in-out;
  box-shadow: none !important;
  background-color: #fff;
}

button.search-filters:hover,
button.search-filters:focus,
button.search-filters:active,
button.search-filters:visited,
button.search-filters:focus-within,
button.search-filters:active:focus,
.show>.btn-outline-secondary.dropdown-toggle {
  background-color: #9EA6C2 !important;
  border: 1px solid #ccc;
}

div.sidebar {
  background-color: #282E3F;
  height: inherit;
  overflow: auto;
  cursor: pointer;
}

div.sidebar-container {
  position: sticky;
  top: 0;
}

div.sidebar-notebooks-dropdown-md, 
div.sidebar-item-text-container-md,
div.sidebar-item-md,
div.preview-note-section {
  display: none;
}

li.sidebar-collapsed-item-text {
  color: #9EA6C2;
  padding-left: 5%;
  word-wrap: break-word;
}

div.sidebar-item-text-container:hover,
li.sidebar-collapsed-item-text:hover {
  background-color: #1E2230;
  color: #fff !important;
}

div.sidebar-extension-sm {
  position: sticky;
  height: 100vh;
  display: block;
  top: 0;
  overflow: auto;
}

div.sidebar-extension-sm,
div.tag-links-sm {
  background-color: #282E3F;
  padding-left: 0px;
  padding-right: 0px;
  display: none;
}

div.sidebar-container {
  padding-right: 0px;
}

div.sidebar-item-icon {
  font-size: 1.5rem;
}

span.sidebar-item-icon-sm {
  font-size: 2rem;
}

div.sidebar-item-text-container-sm {
  text-align: center;
}

div.sidebar-item-text-container-sm > a {
  color: #9EA6C2;
}

div.sidebar-item-text-container-sm > a:hover {
  color: #fff;
}

div.sidebar-item-text-container-sm:hover {
  background-color: transparent;
}

div.col-1-sidebar-container-sm {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

div.sidebar-item-sm {
  display: block;
  padding-bottom: 30px;
}

form.search-sm {
  margin-bottom: 0px !important;
}

div.navbar-sm-container {
  position: sticky;
  top: 0px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  /* background-color: #fff; */
  z-index: 1000;
}

div.note-card:not(:last-child) {
  margin-bottom: 30px;
}

div.sidebar,
div.notes-list {
  padding-top: 10px;
}

div.search-notes-md {
  display: none;
  margin-bottom: 20px;
  margin-top: 5px;
}

li.search-home {
  display: none;
}

li.search-home-hamburger {
  display: initial;
}

@media (max-width: 700px) {
  div.sidebar-container,
  .sidebar-extension-sm {
      display: none !important;
  }
}

@media (min-width: 701px) {
  li.search-home {
    display: initial;
  }

  div.navbar-sm-container {
      display: none;
  }

  div.search-notes-md {
      display: flex;
  }

  div.preview-note-section {
      display: block;
  }
}

@media (max-width: 1064px) {
  div#collapseTagsBigSidebar, 
  div#collapseNotebooksBigSidebar,
  div.sidebar-item-lg {
    display: none !important;
  }
}

@media (min-width: 1065px) {

  div.sidebar-extension-sm {
    display: none !important;
  }

  div.sidebar-container {
      padding-right: 15px;
  }

  a.sidebar-item-text {
      word-wrap: break-word;
      color: #9EA6C2 !important;
      text-decoration: none !important;
      display: block;
  }

  span.sidebar-item-icon {
      float: right;
  }
  
  div.sidebar-item-text-container {
      min-height: 40px;
      padding-left: 5%;
      padding-right: 5%;
  }
  
  div.sidebar-item-text-container > a {
      line-height: 40px;
  }
  
  span.sidebar-item-icon {
      line-height: 40px;
  }

  div.sidebar-item-text-container:hover > a {
      color: #fff !important;
  }
  
  div.sidebar-item:not(:last-child) {
      padding-bottom: 5px;
  }

  a.sidebar-item-text[aria-expanded=true] {
      color: #fff !important;
  }
  
  a.sidebar-item-text[aria-expanded=true] .oi-chevron-left {
      display: none !important;
  }
  
  a.sidebar-item-text[aria-expanded=false] .oi-chevron-left {
      display: inline !important;
  }
  
  a.sidebar-item-text[aria-expanded=true] .oi-chevron-bottom {
      display: inline !important;
  }
  
  a.sidebar-item-text[aria-expanded=false] .oi-chevron-bottom {
      display: none !important;
  }

  div.sidebar-links-sm,
  div.sidebar-item-text-container-sm,
  div.sidebar-item-sm {
      display: none;
  }

  div.sidebar-item-text-container-md,
  div.sidebar-item-md {
      display: block;
  }

  div.col-2.sidebar-container
  {
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
  }

}

a.sidebar-item-link {
  text-decoration: none !important;
  color: inherit !important;
}

li.tag-selected, p.currently-opened-note-sidebar-md {
  color: #fff;
  background-color: #1E2230;
}

.dropdown-menu.tags-dropdown-hamburger-container.show > li {
  color: black !important;
  cursor: pointer;
}

.dropdown-menu.tags-dropdown-hamburger-container.show > li:hover {
  background-color: initial !important;
}

.hamburger-menu-tag-element {
  cursor: pointer;
  margin-bottom: 0px;
}

.hamburger-menu-tag-element > span {
  top: 4px;
}

.dropdown-item:active {
  background-color: #6574a0 !important;
}

p.hamburger-menu-tag-element.dropdown-item:active {
  background-color: transparent !important;
  color: #212529 !important;
}

input.new-notebook-hamburger {
  background-color: inherit;
  border: none;
}

input.new-notebook-hamburger:focus {
  border: 1px solid #ccc !important;
  box-shadow: none !important;
  transition: none !important;
  background-color: transparent;
  color: initial;
}

a.hamburger-menu-link {
  text-decoration: none !important;
}

button.navbar-toggler {
  border: 0px !important;
}

button.navbar-toggler:active,
button.navbar-toggler:focus {
  outline: 0 !important;
}

.show>.btn-outline-secondary.dropdown-toggle {
  background-color: transparent !important;
  border-color: #ccc !important;
  color: #868e96 !important;
}

button.search-filters:hover {
  background-color: transparent !important;
  border: 1px solid #ccc;
  color: #868e96 !important;
}

div.new-notebook-sidebar-md {
  padding-top: 13px;
}

ul.new-notebook-sidebar-md > li,
ul.tag-list-sidebar-md > li {
 cursor: pointer;
}

a.sidebar-link-md {
  display: inline-flex !important;
  text-decoration: none !important;
}

li.new-notebook-sidebar-link-lg {
  padding: 0px !important;
  line-height: 40px;
}
li.new-notebook-sidebar-link-lg:hover {
  background-color: #1E2230;
  color: #fff;
}
span.notebook-icon-sidebar-lg {
  line-height: 35px;
}
input.sidebar-lg {
  height: 20px !important;
}
div.sidebar-item-md {
  min-height: 45px !important;
}
a.sidebar-link-lg {
  display: block;
  width: inherit;
}

span.currently-opened-note-sidebar-sm {
  border-bottom: 2px solid #6574a0;
}
p.nav-link {
  margin-bottom: 0px;
}

p.link-sidebar-lg {
  margin-bottom: 0px;
}

a.trash-notebook-sidebar-md {
  text-decoration: none;
  background-color: #282E3F;
  color: #9EA6C2;
}

a.trash-notebook-sidebar-md:hover,
.currently-opened-note-sidebar-md {
  background-color: #1E2230;
  color: #fff;
  border-radius: 0px !important;
}

li.list-group-item {
  border-radius: 0px !important;
}

