/* Scrollbar */

::-webkit-scrollbar-track
{
  border: none;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  background-color: transparent;
}

/* Show scrollbar only when element is hovered over  */
div.notes-index:hover::-webkit-scrollbar-thumb,
div.preview-note-content:hover::-webkit-scrollbar-thumb,
div.main-content:hover::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
}

/* General */

html, body, div#root, div#app, div.trashcan, div.row, div.trashcan-container, div.notebook-container {
  height: 100%;
}

.quill-custom-button {
  vertical-align: top;
  color: #444444;
}

section.notebooks, section.notes {
  margin-top: 20px;
}

.trashcan.main-content, .preview-note-content, .notes-index {
  display:block;
  overflow:auto;
}

.preview-note-content {
  max-height: 100vh;
}

input.sidebar-app-form {
  background-color: inherit;
  border: none;
}

div.sidebar-app-form {
  width: 90%;
  margin: auto;
  padding-top: 9px;
  padding-bottom: 9px;
}

input.sidebar-app-form:focus {
  border-color: #282E3F !important;
  box-shadow: 0 0 5px rgba(40, 46, 63, 1) !important;
  background-color: #1E2230;
  color: #fff;
}

ul.list-group.notes > a:hover {
  text-decoration: none;
}

/* Sidebar */

a.home-sidebar, a.home-sidebar:hover {
  text-decoration: none;
  color: inherit;
}

.trashcan-container {
  min-width: 800px;
}

div.sidebar {
  padding: 0px;
  padding-top: 50px;
  min-width: 260px;

  padding-right: 0px;
  padding-left: 0px;
}

.sidebar, ul.notes, li.sidebar-note {
  background-color: #282E3F;
  color: #9EA6C2;
}

div.notebook-name-sidebar {
  text-transform: capitalize;
  text-align: left;
  font-size: 1em;
  padding: 10px;
  padding-right: 20px;
  cursor: pointer;
}

li.sidebar-note {
  cursor: pointer;
}

li.list-group-item {
  border: none;
}

.expand-notebook {
  float: right;
}

li:hover, li.tag-selected {
  color: #fff;
  background-color: #1E2230;
}

div.notebook-name-sidebar {
  height: 44px;
}

span.expand-notebook {
  line-height: 22px;
  vertical-align: middle;
}

div.notebook-name-sidebar:hover, li.list-group-item.sidebar-note.notebook-name-sidebar-active {
  background-color: #1E2230;
  color: #fff;
}

div.notebook-name-sidebar[aria-expanded=true] {
  color: #fff;
}

div[aria-expanded=true] .oi-chevron-left {
  display: none;
}

div[aria-expanded=false] .oi-chevron-left {
  display: inline;
}

div[aria-expanded=true] .oi-chevron-bottom {
  display: inline;
}

div[aria-expanded=false] .oi-chevron-bottom {
  display: none;
}

/* Notebook page */

.home-icon {
  float: right;
}

span.add-notebook, span.document-icon {
  top: 4px;
}

.add-tags {
  margin-top: 16px;
  margin-bottom: 0px !important;
}

.tags {
  padding-top: 10px;
  padding-bottom: 20px;
}

.tags > span.badge {
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #ced4da;
  background-color: #fff;
  /* color: #868e96; */
  cursor: pointer;
  /* color: #9EA6C2; */
  /* background-color: #282E3F; */
  margin-right: 5px;
}


span.remove-tag {
  padding-left: 10px;
}

span.badge.badge-primary.tag-name {
  color: #444444;
}

span.oi.oi-delete.remove-tag:hover {
  color: #dc3545;
}

.tags > span.badge:hover {
  color: #007bff;
  background-color: #fff;
}

/* Home page */

span.trashcan {
  float: right;
}

li.sidebar-link {
  padding-left: 10px; 
  text-align: left;
}

.sidebar-note {
  text-align: left;
}

li.note-item:hover {
  color: inherit;
  background-color: inherit;
}

div.notes-index {
  padding-top: 10px;
}

div.preview-note-content {
  padding-top: 22px;
}

.home-search.dropdown-toggle::after {
  border: none;
}

.search-dropdown {
  left: 3px;
}

div.card:hover, .note-selected, .highlight-note-card {
  color:#6574a0;
  cursor: pointer;
}

a.attachment:hover {
  cursor: pointer;
}

.notebook-name-sidebar {
  background-color: #282E3F;
}

div.ql-container.preview-note-container {
  height: 90vh;
}

.input-group.input-group-sm.mb-3.add-tags {
  margin-top: 0px;
}

div.load-more {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

div.load-more > button {
  background-color: #282E3F;
  border-color: #282E3F;
}

div.load-more > button:hover {
  background-color: #1E2230;
  border-color: #1E2230;
}