html, body, div#root, div#app, div.trashcan, div.row, div.trashcan-container, div.notebook-container {
  height: 100%;
}

.quill-custom-button {
  vertical-align: top;
  color: #444444;
}

section.notebooks, section.notes {
  margin-top: 20px;
}