/* Notebook page */

.home-icon {
    float: right;
}

.add-tags {
    margin-top: 16px;
    margin-bottom: 0px !important;
}

.tags-notebook-page {
    padding-top: 10px;
}

.tags > span.badge {
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ced4da;
    background-color: #fff;
    color: #868e96;
    cursor: pointer;
    /* color: #9EA6C2; */
    /* background-color: #282E3F; */
    margin-right: 5px;
}

span.tag-name:hover {
    color: #fff;
    background-color: #868e96;
}

.input-group.input-group-sm.hidden {
    display: none;
}

.notebook-note-editor {
    padding-top: 22px;
}

div.notebook-page-editor {
    visibility: hidden;
}
